<nav class="global-nav--mobile nav-anim">
	<ul class="u-TextCenter">
		<li><a href="{{ site.baseurl }}/code">Code Standards</a></li>
		<li><a href="{{ site.baseurl }}/patterns">Pattern Library</a></li>
		<li><a href="{{ site.baseurl }}/brand">Brand Guidelines</a></li>
	</ul>
</nav>
<header class="global-header">
	<div class="wrapper">
		<div class="logo">
			<a href="{{ site.baseurl }}">
				<img src="{{ site.baseurl }}/images/logo.svg" width="40" height="40" alt="Shiftgig Logo" title="Shiftgig"/>
			</a>
		</div>
	    <nav class="global-nav u-pullRight">
			<ul>
				<li><a href="{{ site.baseurl }}/code">Code Standards</a></li>
				<li><a href="{{ site.baseurl }}/patterns">Pattern Library</a></li>
				<li><a href="{{ site.baseurl }}/brand">Brand Guidelines</a></li>
			</ul>
	    </nav>
	    <div class="global-nav--mobileBtn u-pullRight">Menu</div>
	</div>
</header>
<div class="global-header-ghost"></div>
