/* Import partials from 'sass_dir' ('_sass') */
@import "/tmp/book/_sass/bourbon/bourbon";
@import "/tmp/book/_sass/base/grid-settings";
@import "/tmp/book/_sass/neat/neat";
@import "/tmp/book/_sass/base/base";
@import "/tmp/book/_sass/fontawesome/font-awesome";
@import "/tmp/book/_sass/_syntax-highlighting.scss";

/* Import Fonts */
@import "type.scss";

/* Font Stacks */
$font-default: 'MuseoSansRounded', Helvetica, sans-serif;
$font-roboto: 'Roboto', Helvetica, sans-serif;
$font-sfUI: 'San Francisco', Helvetica, sans-serif;
$font-light: '100';
$font-regular: '300';
$font-medium: '500';
$font-bold: '700';
$font-black: '900';

body {
	font-family: "MuseoSansRounded", "Helvetica Neue", Helvetica, sans-serif;
	font-weight: 300;
	font-size: $fontSize-base;
	line-hieght: $lineHeight-base;
	color: $color-dark-gray;
	background: $color-lightest-gray;
}
h1,h2,h3,h4,h5 {
  font-family: "MuseoSansRounded", "Helvetica Neue", Helvetica, sans-serif;
}
body.grid {
	@include background-image(linear-gradient(to bottom, rgba(0,0,0,.15) 0, transparent 5%, transparent 100%));
	background-repeat: repeat;
	background-position: top left;
	box-shadow: 1px 0px 0px hsla(200, 100%, 50%, .3), -1px 0px 0px hsla(200, 100%, 50%, .3);
}
img {
	max-width: 100%;
}
.page-content {
	margin: 0 10px;
}
.wrapper {
	@include outer-container;
}
.book-body {
	color: $color-dark-gray;
	background: $color-lightest-gray;
}
.global-header {
	position: fixed;
	top:0;
	width: 100%;
	background: rgba(255,255,255,.9);
	border-bottom: 1px solid rgb(187,187,187);
	border-top: 5px solid rgb(70,70,70);
	z-index: $zIndex-8;
}
.global-header-ghost {
	height:85px;
}
.global-header .logo {
	display: inline-block;
	float: left;
	background: rgb(70,70,70);
	padding: 16px;
	line-height: 20px;
}
.global-nav {
	display: block;
	@include media($mobile) {
		display: none;
	}
}
.nav-anim {
	@include transition-property (all);
	@include transition-duration(0.5s);
	@include transition-timing-function(cubic-bezier);
	@include transition-delay(.42,0,.58,1);
}
.global-nav ul {
	text-align: right;
	list-style: disc;
}
.global-nav li {
	display: inline-block;
	margin: 0;
	text-transform: uppercase;
}
.global-nav a {
	display: block;
	color: rgba(150,150,150,1);
	text-decoration: none;
	font-size: $fontSize-small;
	padding: 25px 8px;
	max-height: 76px;
	
	&:hover {
		background: $color-blue;
		color: $color-white;
	}
}
.global-nav--mobileBtn {
	display: none;
	padding: 22px 16px;
	cursor: pointer;
	@include media($mobile) {
		display: block;
	}
}
.global-nav--mobile {
	position: fixed;
	top: -320px;
	width: 100%;
	z-index: $zIndex-8;
	background-color: rgba($color-dark-gray,.95);
}
.global-nav--mobile ul {
	padding: 10px 0;
}
.global-nav--mobile a {
	display: block;
	color: $color-white;
	padding: 12px 24px;
	
	&:hover {
		background: $color-blue;
	}
}
.global-nav--mobile.is-open {
	-webkit-transform: translate3d(0,401px,0);
	transform: translate3d(0,401px,0);
}
.logoRules {
	@include outer-container(100%);
}
.row {
  @include row();
}
.left {
  @include span-columns(3);
}
.right {
  @include span-columns(5);
  @include omega;
}
.typography-samples {
	@include outer-container;
	font-family: "MuseoSansRounded";
	h1,h2,h3,h4,h5 {
  	font-family: "MuseoSansRounded";
	}
}
.sampleBox {
	padding: $lineHeight-base;
	background: $color-white;
	border: 1px solid $color-light-gray;
}
.typography-samples .block {
	@include span-columns(2);
	@include omega(4n);
	@include media($mobile) {
		@include span-columns(1);
		@include omega(2n);
	}
}
h1.tooDamnBig {
  font-size: $fontSize-tooDamnBig;
}
.sampleBox--fontLight * {
	font-weight: 100;
	margin: 0;
}
.sampleBox--fontNormal * {
	font-weight: 300;
	margin: 0;
}
.sampleBox--fontBold * {
	font-weight: 700;
	margin: 0;
}
.sampleBox--fontBlack * {
	font-weight: 900;
	margin: 0;
}
.fontSample {
	line-height: $lineHeight-base;
}
.fontSample h4 {
	font-size: $fontSize-larger;
	margin-bottom: 0;
}
h5.fontSample {
	margin-top: $lineHeight-base;
	margin-bottom: 0;
}
p.fontSample {
	margin-top: 0;
}
.fontSample--smallest {
	font-size: $fontSize-smallest;
	line-height: 1.6;
}
.fontSample--smaller {
	font-size: $fontSize-smaller;
	line-height: 1.6;
}
.fontSample--small {
	font-size: $fontSize-small;
	line-height: 1.6;
}
.fontSample--normal {
	font-size: $fontSize-base;
	line-height: 1.6;
}
.fontSample--large {
	font-size: $fontSize-large;
	line-height: 1.54;
}
.fontSample--larger {
	font-size: $fontSize-larger;
	line-height: 1.5;
}
.fontSample--largest {
	font-size: $fontSize-largest;
	line-height: 1.5;
}

.fontSample--light {
	font-weight: 100;
}
.fontSample--regular {
	font-weight: 300;
}
.fontSample--medium {
	font-weight: 500;
}
.fontSample--bold {
	font-weight: 700;
}
.fontSample--black {
	font-weight: 900;
}

.fontSample--museoRounded {
	font-family: $font-default;
}
.fontSample--roboto {
	font-family: $font-roboto;
}
.fontSample--sfUI {
	font-family: $font-sfUI;
}

.site-footer {
	font-size: $fontSize-smaller;
	line-height: $lineHeight-tight;
}
.markdown-section ol, .markdown-section ul {
	padding-left: 0em;
}
section.example {
	@include outer-container;
	border: 1px solid $color-light-gray;
	@include pad(30px 30px 30px 30px);
	font-size: $fontSize-small;
}
section.example caption {
	display: block;
	font-size: $fontSize-smaller;
	color: $color-red;
}

.colors {
	@include outer-container;
}
.colors .block {
	@include span-columns(4);
	@include omega(3n);
	margin-bottom: 1em;
	@include media($mobile) {
		@include span-columns(1);
		@include omega(2n);
	}
}
.colors .block--alt {
	@include span-columns(1);
	@include omega(8n);
	@include media($mobile) {
		@include span-columns(1);
		@include omega(2n);
	}
}
.icons .block {
	@include span-columns(1);
	@include omega(8n);
	@include media($mobile) {
		@include span-columns(1);
		@include omega(2n);
	}
}
section.images img {
	display: block;
	@include fill-parent();
}
section.example .one-up article {
	@include fill-parent();
}
.example .two-up article {
	@include span-columns(6);
	@include omega(2n);
	@include media($mobile) {
		@include fill-parent();
	}
}
section.example .three-up article {
	@include span-columns(4);
	@include omega(3n);
	@include media($mobile) {
		@include fill-parent();
	}
}
section.example .eight-up article {
	@include span-columns(1);
	@include omega(8n);
	@include media($mobile) {
		@include fill-parent();
	}
}
.colors-preview {
	height: $lineHeight-base * 6;
	@include media($mobile) {
		height: 120px;
	}
}
.block--alt .colors-preview {
	height: $lineHeight-base * 3;
	@include media($mobile) {
		height: 120px;
	}
}
.colors-name {
	font-size: $fontSize-smallest;
	line-height: $lineHeight-tight;
	padding: $lineHeight-base / 4;
	text-align: center;
	background-color: #fff;
	width: 100%;
	text-transform: uppercase;
	span {
  	display: block;
	}
}
.colors--dark-green {
	background: $color-dark-green;
}
.colors--white {
	background: $color-white;
}
.colors--lightest-gray {
	background: $color-lightest-gray;
}
.colors--background-gray {
	background: $color-background-gray;
}
.colors--light-gray {
	background: $color-light-gray;
}
.colors--medium-gray {
	background: $color-medium-gray;
}
.colors--dark-gray {
	background: $color-dark-gray;
}
.colors--shiftgig-black {
	background: $color-shiftgig-black;
}
.colors--green {
	background: $color-green;
}
.colors--light-green {
	background: $color-light-green;
}
.colors--neon-green {
	background: $color-neon-green;
}
.colors--blue {
	background: $color-blue;
}
.colors--red {
	background: $color-red;
}
.colors--orange {
	background: $color-orange;
}
.colors--purple {
	background: $color-purple;
}
.colors--yellow {
	background: $color-yellow;
}
.colors--white {
	background: white;
}
.colors--black {
 background: $color-black;
}
.gradient--green {
  @include brand-gradient(green);
}
.gradient--blue {
  @include brand-gradient(blue);
}
.gradient--orange {
  @include brand-gradient(orange);
}
.gradient--grey {
  @include brand-gradient(gray);
}
.gradient--purple {
  @include brand-gradient(purple);
}
.markdown-section ol, .markdown-section ul {
  padding-left: 2em;

}
.book-summary ul.summary li a, .book-summary ul.summary li span {
    font-size: 75%;
}
.book-summary ul.summary li a, .book-summary ul.summary li span {
    padding: 0px 10px;
}
script {
	display: initial!important;
}
