@page {
  size: A4 landscape;
}
@page {
  @top-center {
    margin: 10pt 0 30pt 0;
    content: "Shiftgig Brand Guidelines: " string(doctitle);
    font-size: 12pt;
    color: #313131;
  }
  @bottom-right {
    margin: 30pt 0 10pt 0;
    content: url("../assets/images/logo.svg");
    height: 72pt;
    width: auto;
  }
}
div.frontcover { 
    page: cover; 
    content: "Shiftgig Brand Guidelines";
    width: 100%;
    height: 100%; 
  }