/* CSS for pdf */

div.frontcover { 
  page: cover; 
  content: url("assets/images/pdf_cover.png");
  width: 100%;
  height: 100%; 
}
@page {
  size: A4 landscape; 
  @top-center {
    margin: 10pt 0 30pt 0;
    content: "Shiftgig Brand Guidelines";
    font-size: 12pt;
    color: #919191;
  }
  @bottom-right {
    margin: 30pt 0 10pt 0;
    content: url("assets/images/logo.svg");
    height: 72pt;
    width: auto;
  }
}
table, figure {
  page-break-inside: avoid;
}
body {
  font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
  line-height: 1.5;
  font-size: 11pt;
}